<div class="fixed bottom-0 left-0 w-full h-full bg-gray-500 bg-opacity-30 flex justify-center items-center gap-4 z-50">
  <div
    [ngStyle]="{ 'background-color': backgourndColor, 'background-opacity': 0.5 ,'box-shadow': '8px 10px 40px ' + backgourndColor }"
    class="bg-white relative w-1/4 h-3/4 bg-opacity-50 rounded-3xl flex flex-col justify-between items-center md:w-full md:h-full">
    <app-header-modal class="z-10" [pokemon]="pokemon"></app-header-modal>
    <img class="absolute -top-2 -right-2" src="../../../assets/modal/pokeball.svg" alt="pokeball">
    <app-image-selector-modal class="w-full flex justify-center" [pokemon]="pokemon"></app-image-selector-modal>
    <div class="flex flex-col justify-around w-full h-3/4 bg-white rounded-b-3xl pt-16">
      <div class="flex items-center justify-center w-full gap-2 text-white uppercase">
        <app-stats-modal class="w-full flex flex-col justify-center gap-2" [pokemon]="pokemon"></app-stats-modal>
      </div>
      <app-about-modal [pokemon]="pokemon"></app-about-modal>
    </div>
  </div>
</div>